
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.5em;
}
.title-content{
    text-align: center;
}
.container img{
    border-radius: 50%;
}
*{ 
    padding: 1%;
    box-sizing: border-box;
} 