/* Add custom css styles here */
body{
    margin: 0
}

.title {
    text-align: center;
    padding: 20px 0 0;
}

.container {
    margin: 40px 0;
}

.img-fluid {
    border-radius: 50%;
}

h2{
    text-align: center;
    padding: 10px;
}

footer {
    background: rgb(27, 109, 196);
    color: white;
    text-align: center;
    padding: 40px;
    margin: 40px 0 0;
}

#one {
    margin: 20px;
    padding: 20px;
    text-align: center;
}
